{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="wrapper style1 text-center py-5">
  <div class="inner medium">
    <h2 class="mb-4">Entre em contato</h2>
    <a href="https://api.whatsapp.com/send?phone=5561983310073" target="_blank">
      <img src="{% static 'img/frame3.png' %}" class="img-thumbnail mx-auto d-block" alt="WhatsApp" width="150">
    </a>
  </div>
</section>

<footer class="wrapper style1 text-center py-4">
  <div class="inner">
    <a href="https://ribdev.netlify.app/" target="_blank">
      <img src="{% static 'img/rib.png' %}" class="img-thumbnail mx-auto d-block" alt="RIBDEV" width="100">
    </a>
  </div>
</footer>
{% endblock %}
